.btn {
  font-size: 1.4rem;
  text-decoration: none;
  color: $color-white;

  &-signup {
    border: 2px solid $color-white;
    border-radius: 50%;
    margin-left: 2rem;
    padding: 1rem 2.6rem;
  }

  &-started {
    color: $color-black;
    background: $color-white;
    border-radius: 50%;
    padding: 1.5rem 1.8rem;
    font-weight: 500;
  }

  &-watch--video {
    position: relative;
    margin-left: 5rem;
  }
}

.play-icon {
  width: 24%;
  @include center-element(-330%, -50%);
}
