.btn {
  &,
  &:link,
  &:active {
    color: $text-light;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    align-self: center;
  }

  &:hover {
    color: $color-green;
  }

  &-groups {
    text-align: right;
    font-size: medium;
    display: grid;
    grid-template-columns: auto 50%;
    grid-column-gap: 4rem;
    align-content: center;
    height: 90%;
  }

  &-signup {
    border: 2px solid $color-white;
    padding: 0.7rem 1.2rem;
    text-align: center;
    border-radius: 80%;
  }
}
