.container__item-2 {
  height: 100%;
  display: inherit;
  grid-template-columns: 45% 45%;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}

.col {
  &-1 {
    height: 100%;
    background-color: #f1f1f1;
  }
  &-2 {
    background-color: magenta;
    padding: 6rem 0;
  }
}
