.navigation {
  padding: 3rem 0;
  transition: all 0.45s;

  &__logo-box {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
  }

  &__list {
    text-align: center;
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:hover {
      transform: scale(1.2);
    }

    &:not(:last-child) {
      margin-right: 8rem;
    }
  }

  &__last-section {
    text-align: right;
    & .btn-login {
      margin-right: 2rem;
    }
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -65%);
  &__img {
    width: 13%;
  }
}
