@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&display=swap");

html {
  font-family: "Lexend", "Oxygen", sans-serif;
}

.heading {
  font-size: 7rem;
  line-height: 6.3rem;

  &-skilled {
    color: $color-pink;
  }

  &-individual {
    color: $color-green;
  }
}

.intro {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 6rem;
  line-height: 2.5rem;
}
