.navbar {
  &__inner {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% auto 20%;
  }

  &__middle-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
    height: 90%;
  }
}

.container {
  padding-top: 2rem;
  background-color: $color-dark;
  color: $color-white;
  display: grid;
  grid-template-rows: 95% auto;
  height: 90vh;

  &__item-2 {
    background-color: lightslategrey;
  }
  &__item-3 {
    background-color: lightgreen;
  }
}
