.heading {
  font-size: 7rem;
  line-height: 6.3rem;

  &-skilled {
    color: $color-pink;
  }

  &-individual {
    color: $color-green;
  }
}

.intro {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 6rem;
  line-height: 2.5rem;
}
